.exampleActivity1,
.exampleActivity2 {
    .mode-minimal {
        background-color: rgb(255, 169, 184);

        // scrolling-label{
        //     border: 2px solid rgb(0, 245, 45);
        //     border-radius: 50px;
        // }
    }

    .mode-compact {
        background-color: rgba(128, 128, 128, 1);

        rolling-number {
            font-size: 18px;
            // border: 1px solid black;
            // label {
            //     border: 1px solid black;
            // }
        }

        rolling-number :backdrop {
            color: white;
        }
    }

    .mode-expanded {
        background-color: rgb(12, 66, 192);
    }

    .mode-overlay {
        background-color: rgb(45, 33, 33);
    }

    .activity-background {
        background-color: rgb(0, 0, 0);
        color: white;
    }
}