activity-widget {
    background-color: palevioletred;
    border: 10px solid gray;
    border-radius: 50px;
}

.mode-compact{
    background-color: gray;
}

.mode-minimal{
    background-color: pink;
}

.mode-expanded{
    background-color: violet;
}

.mode-overlay{
    background-color: crimson;
}

.activity-background{
    background-color: black;
    color: white;
}