activity-widget {
    background-color: transparent;
    // border-top: 10px inset rgba(0, 160, 204, 0.5);
    // border-right: 6px inset rgba(184, 204, 0, 0.5);
    // border-bottom: 10px inset rgba(204, 0, 0, 0.5);
    // border-left: 6px inset rgba(204, 0, 177, 0.5);
    border: 2px inset rgba(0, 160, 204, 1);

    border-radius: 50px;
}

.mode-compact{
    background-color: rgba(128, 128, 128, 1);
}

.mode-minimal{
    background-color: rgba(255, 192, 203, 1);
}

.mode-expanded{
    background-color: rgba(238, 130, 238, 1);
}

.mode-overlay{
    background-color: rgba(220, 20, 60, 1);
}

.activity-background{
    background-color: black;
    color: white;
}