.music-activity {
    
    .visualizer {
        .bar {
            transition-property: min-height;
            transition-duration: 60ms;
            transition-timing-function: linear;

            /* background-color: red; */
            border-radius: 100px;
        }
    }

    .mode-compact {
        background-color: rgb(0, 0, 0);

        .album-art {
            image {
                border-radius: 5px;
                border: solid rgba(53, 53, 53, 0.6) 1px;
            }
        }

        .visualizer {
            margin: 0px 0px 0px 10px;
        }
    }

    .mode-minimal {
        background-color: rgb(0, 0, 0);

        .album-art {
            image {
                border-radius: 5px;
                border: solid rgba(53, 53, 53, 0.6) 1px;
            }
        }

        // scrolling-label{
        //     border: 2px solid rgb(0, 245, 45);
        //     border-radius: 50px;
        // }
    }

    .mode-expanded {
        background-color: rgb(0, 0, 0);

        .info {

            /* background-color: rgb(0, 95, 121); */
            .visualizer {
                margin: 0px 20px;
            }

            .album-art {
                image {
                    border-radius: 20px;
                    border: solid rgba(53, 53, 53, 0.6) 1px;
                }
            }

            .info-names2 .artist-name {
                margin-left: 10px;
            }
        }

        .progress {
            /* background-color: rgb(124, 64, 0); */

            .elapsed-time,
            .remaining-time {
                font-size: 18px;
                font-weight: bold;
            }

            .progress-bar contents trough {
                slider {
                    background-color: transparent;
                    background-image: none;
                    border-color: transparent;
                    box-shadow: none;
                    // border-style: hidden;
                    // color:rgba(0, 0, 0, 0);
                    // border: 0px solid pink;
                    // -gtk-secondary-caret-color: rgba(0, 0, 0, 0);
                }

                highlight {
                    background-color: rgb(118, 118, 118);
                    color: aqua;
                    border-style: solid;
                    // background-image: none;
                    // color:rgba(0, 0, 0, 0);
                    // border: 0px solid pink;
                    // -gtk-secondary-caret-color: rgba(0, 0, 0, 0);

                }
            }
        }

        .controls {
            button {
                background-color: transparent;
                border-radius: 100px;
                border: none;
                background-image: none;
                -gtk-icon-size: 32px;

                transition-property: background-color;
                transition-duration: 100ms;
                transition-timing-function: linear;
            }

            button:active {
                background-color: rgba(53, 53, 53, 100);
                transition-property: background-color;
                transition-duration: 100ms;
                transition-timing-function: linear;
            }

            .previous,
            .next {
                -gtk-icon-size: 48px;
            }

            /* background-color: rgb(2, 84, 1); */
        }
    }
}